@import './reset.scss';
@import './fonts.scss';
@import './header.scss';
@import './main.scss';

html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

.wrapper{
  max-width: 1060px;
  margin: 0 auto;

}